<h1>Editing quartering</h1>

<%= render "form", quartering: @quartering %>

<br>

<div>
  <%= link_to "Show this quartering", @quartering %> |
  <%= link_to "Back to quarterings", quarterings_path %>
</div>
