<h1>New elaborated product name</h1>

<%= render "form", elaborated_product_name: @elaborated_product_name %>

<br>

<div>
  <%= link_to "Back to elaborated product names", elaborated_product_names_path %>
</div>
