<h1>Editing mature cut</h1>

<%= render "form", mature_cut: @mature_cut %>

<br>

<div>
  <%= link_to "Show this mature cut", @mature_cut %> |
  <%= link_to "Back to mature cuts", mature_cuts_path %>
</div>
