<div id="<%= dom_id cut_elaborated %>">
  <p>
    <strong>Cut:</strong>
    <%= cut_elaborated.cut_id %>
  </p>

  <p>
    <strong>Elaborated product name:</strong>
    <%= cut_elaborated.elaborated_product_name_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cut_elaborated.description %>
  </p>

</div>
