<h1>Editing cut elaborated</h1>

<%= render "form", cut_elaborated: @cut_elaborated %>

<br>

<div>
  <%= link_to "Show this cut elaborated", @cut_elaborated %> |
  <%= link_to "Back to cut elaborateds", cut_elaborateds_path %>
</div>
